body{

margin:0;

font-family:Arial;

background:#f4f4f4;

}

/* HEADER */

header{

background:#7e22ce;

color:white;

text-align:center;

padding:20px;

}

/* NAV */

nav{

background:black;

padding:15px;

text-align:center;

}

nav a{

color:white;

text-decoration:none;

margin:10px;

font-size:18px;

}

/* PRINCIPAL */

.principal{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

margin:20px;

padding:20px;

border-radius:10px;

}

.texto{

width:50%;

}

.imagen{

font-size:70px;

}

/* TARJETAS */

.contenedor{

display:flex;

justify-content:space-around;

flex-wrap:wrap;

}

article{

background:white;

width:18%;

margin:10px;

padding:15px;

text-align:center;

border-radius:10px;

}

.icono{

font-size:60px;

}

/* BOTONES */

button{

background:#7e22ce;

color:white;

border:none;

padding:10px;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#581c87;

}

/* ACTIVIDAD */

.actividad{

background:white;

margin:20px;

padding:20px;

text-align:center;

border-radius:10px;

}

/* PAGINAS */

.pagina{

background:white;

margin:20px;

padding:20px;

text-align:center;

border-radius:10px;

}

.iconoGrande{

font-size:120px;

margin-top:20px;

}

/* FOOTER */

footer{

background:black;

color:white;

text-align:center;

padding:15px;

}

/* RESPONSIVE */

@media(max-width:800px){

.principal{

flex-direction:column;

}

.texto{

width:100%;

}

article{

width:80%;

}

}